/obj
/bin
/FC.Codeflix.Catalog/FC.Codeflix.Catalog.Domain/bin/Debug/net6.0
/FC.Codeflix.Catalog/FC.Codeflix.Catalog.Domain/obj/Debug/net6.0
/FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/bin/Debug/net6.0
/FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/Debug/net6.0
/FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/Debug/net6.0/*.txt
/FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/project.nuget.cache
/FC.Codeflix.Catalog/.vs
FC.Codeflix.Catalog/.vs/FC.Codeflix.Catalog/v17/.suo
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/Debug/net6.0/FC.Codeflix.Catalog.UnitTests.csproj.AssemblyReference.cache
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/Debug/net6.0/FC.Codeflix.Catalog.UnitTests.csproj.CoreCompileInputs.cache
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/Debug/net6.0/FC.Codeflix.Catalog.UnitTests.csproj.FileListAbsolute.txt
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/FC.Codeflix.Catalog.UnitTests.csproj.nuget.dgspec.json
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/project.assets.json
FC.Codeflix.Catalog/tests/FC.Codeflix.Catalog.UnitTests/obj/project.nuget.cache